
img {
    display: block;
    margin: auto;
    border-radius:50%;
    
}
* {
box-sizing: border-box;
}
a{
color: #0366d6;
}
a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
}
.column {
float: left;
width: 50%;
padding: 40px;
height: 100%;
}
.columna {
float: left;
width: 50%;
height: 100%;
}
.row:after {
content:normal;
display: table;
clear: both;

}
#rcorners2 {
border-radius: 25px;
border: 1px solid #808080;
padding: 20px; 
width: 90%;
height: 60px;
color: whitesmoke;
font-style:initial;  
}